@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.centeredPage {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	box-sizing: border-box;
	padding: 0;
}

@include respond-max($breakpoint-md) {
	.centeredPage {
	}
}
