@use '@/styles/variables' as *;

.settingsPage {
	max-width: 64rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sectionTitle {
	font-size: 1.125rem;
	font-weight: 600;
	margin: 0 0 1rem 0;
}
