@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.piholeCreationSetup {
	.setupCard {
		gap: 1rem;
		width: 100%;
		max-width: 84rem;
		min-height: 56rem;

		h2.title {
			font-size: 1.25rem;
			font-weight: 600;
			text-align: center;
			margin-bottom: 1.5rem;
		}

		button {
			margin-top: auto;
			align-self: flex-end;
		}
	}
}

@include respond-max($breakpoint-md) {
	.piholeCreationSetup {
		.setupCard {
			flex: 1 1 auto;
			min-height: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 1rem;

			button {
				align-self: stretch;
				width: 100%;
				margin-top: 0.75rem;
			}
		}
	}
}
